@media screen and (min-width: 768px) {
    #menu{
        display: none;
    }

    nav{
        display: block;
    }

    ul li{
        display: inline-block;
    }

    ul li a {
        font-size: 0.9em;
        padding: 6px;
        color: white;
        border: none;
    }

    ul li a:hover{
        border: 1px solid white;
    }

    main{
        width: 768px;
    }
}
